<div class="row">
  <span class="text-muted">Select Piece</span>
</div>
<div class="row justify-content-center mb-2">
  <div
    class="col d-flex justify-content-center align-items-center"
    *ngFor="let option of pieceOptions1"
  >
    <button
      [class]="
        currentPiece && option.value === currentPiece.value
          ? 'active button'
          : 'button'
      "
      (click)="updatePieceSelection(option)"
      [disabled]="!validPieces[option.value]"
    >
      <img
        class="my-2 button-image"
        [src]="activeTurn === 'w' ? option.white : option.black"
      />
    </button>
  </div>
</div>
<div class="row justify-content-center">
  <div
    class="col d-flex justify-content-center align-items-center"
    *ngFor="let option of pieceOptions2"
  >
    <button
      [class]="
        currentPiece && option.value === currentPiece.value
          ? 'active button'
          : 'button'
      "
      (click)="updatePieceSelection(option)"
      [disabled]="!validPieces[option.value]"
    >
      <img
        class="my-2 button-image"
        [src]="activeTurn === 'w' ? option.white : option.black"
      />
    </button>
  </div>
</div>
<div class="row justify-content-center" *ngIf="ambiguousInput">
  <span class="col-12 d-flex justify-content-center">which piece?</span>
  <div
    class="col-6 d-flex justify-content-center"
    *ngFor="let move of ambiguousKnightMoves"
  >
    <button
      [class]="currentPiece.modifier === move ? 'active button' : 'button'"
      (click)="updateAmbiguosPieceSelection(move)"
    >
      {{ move }}
    </button>
  </div>
</div>
