.button {
  font-size: 3rem;
  font-family: "Oswald";
  border-radius: 25%;
  background-color: transparent;
  padding: 0rem 1rem;
}

.active {
  background-color: #673ab6;
  border: double 2px #120a1f;
}

.button-image {
  height: 3rem;
}
