.button {
  font-size: 3rem;
  font-family: "Oswald";
  border-radius: 25%;
  background-color: transparent;
  padding: 0rem 1rem;
}

.active {
  background-color: gold;
  border: double 2px black;
}
