<div class="row">
  <span class="text-muted">Select Position X</span>
</div>
<div class="row justify-content-center">
  <div class="row justify-content-center mb-2">
    <div
      class="col-3 d-flex justify-content-center"
      *ngFor="let pos of positionXOptions1"
    >
      <button
        [class]="
          currX && currX.value === pos.value ? 'active button' : 'button'
        "
        (click)="updatePosX(pos)"
        [disabled]="checkDisabled('x', pos)"
      >
        {{ pos.label }}
      </button>
    </div>
  </div>
  <div class="row justify-content-center">
    <div
      class="col-3 d-flex justify-content-center"
      *ngFor="let pos of positionXOptions2"
    >
      <button
        [class]="
          currX && currX.value === pos.value ? 'active button ' : 'button'
        "
        (click)="updatePosX(pos)"
        [disabled]="checkDisabled('x', pos)"
      >
        {{ pos.label }}
      </button>
    </div>
  </div>
</div>
<div class="row">
  <span class="text-muted">Select Position Y</span>
</div>
<div class="row justify-content-center">
  <div class="row justify-content-center mb-2">
    <div
      class="col-3 d-flex justify-content-center"
      *ngFor="let pos of positionYOptions1"
    >
      <button
        [class]="
          currY && currY.value === pos.value ? 'active button' : 'button'
        "
        (click)="updatePosY(pos)"
        [disabled]="checkDisabled('y', pos)"
      >
        {{ pos.label }}
      </button>
    </div>
  </div>
  <div class="row justify-content-between" disabled>
    <div
      class="col-3 d-flex justify-content-center"
      *ngFor="let pos of positionYOptions2"
    >
      <button
        [class]="
          currY && currY.value === pos.value ? 'active button' : 'button'
        "
        (click)="updatePosY(pos)"
        [disabled]="checkDisabled('y', pos)"
      >
        {{ pos.label }}
      </button>
    </div>
  </div>
</div>
