<mat-expansion-panel
  (opened)="panelOpenState = true"
  (closed)="panelOpenState = false"
>
  <mat-expansion-panel-header>
    <mat-panel-title> Game History</mat-panel-title>
  </mat-expansion-panel-header>
  <div class="row">
    <div class="col-6 d-flex" *ngFor="let move of moveHistory; let i = index">
      <ng-template [ngIf]="i === 0 || i % 2 === 0" [ngIfElse]="black">
        <span class="mr-3">{{ i + 1 }}. {{ move }}</span>
      </ng-template>
      <ng-template #black>
        <span>{{ i + 1 }}. {{ move }}</span>
      </ng-template>
    </div>
  </div>
</mat-expansion-panel>
