<form class="row justify-content-start">
  <h1 mat-dialog-title>Get PGN</h1>
  <div mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        [formControl]="emailFormControl"
        placeholder="Ex. pat@example.com"
      />
      <mat-error
        *ngIf="
          emailFormControl.hasError('email') &&
          !emailFormControl.hasError('required')
        "
      >
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button
      mat-button
      color="primary"
      (click)="export()"
      [disabled]="
        emailFormControl.hasError('email') &&
        !emailFormControl.hasError('required')
      "
    >
      Send to Email
    </button>
  </div>
</form>
<a target="_blank" id="email-link" hidden></a>
